<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Tracker</title><!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/edb0ed1b03.js" crossorigin="anonymous"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>
<style>
    .span-header {
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 1.4em;
        background: -webkit-linear-gradient(45deg, #eee, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .s-p-h-small {
        font-size: 1.2em;
        background: -webkit-linear-gradient(#eee, grey);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .lg-c {
        max-width: 3vw;
        max-height: 3vw;
        animation: logospin 2s linear infinite;
    }

    .head {
        border-bottom: solid 3px #3b3b3b;
    }

    @keyframes logospin {
        0% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(-360deg);
        }
    }
</style>

<body style="width: 100vw; overflow: hidden;">
    <div class="head bg-dark">
        <nav class="site-header sticky-top py-1 ">
            <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center ">

                <a class="navbar-brand ml-4" href="#"><img src="/views/pblic/img/logo.png" class="lg-c" alt="LOGO"></a>
                <div class="w-75 text-light align-items-center overflow-hidden">
                    <marquee direction="left" class="website-name">
                        <span class="span-header">AZbot</span>
                        <span class="s-p-h-small">Iot website for everyone</span>
                    </marquee>
                </div>
                <button type="button" class="btn btn-outline-primary">
                    <span><i class="fas fa-sign-out-alt"></i></span>
                    Sign out</button>
            </div>
        </nav>
    </div>
    <div class="row" style="padding: 0px 0px;">
        <div class=" col-md-2">
            <nav class="tool-board nav d-flex flex-column bd-highlight ">
                <a class=" per-direct" href="/home"><i class="fas fa-home"></i> Home</a>
                <a class=" per-direct" href="/about-system"><i class="far fa-question-circle"></i> About</a>
                <a class="per-direct" href="/management-account"><i class="far fa-user-circle"></i> Account</a>
                <a class=" per-direct" href="/upgrade-account"><i class="fab fa-ups"></i> Upgrade</a>
                <a class=" per-direct" href="/device-settings"><i class="fab fa-codepen"></i> Device</a>
                <a class=" per-direct" href="/device-trackings"><i class="fas fa-map-marker-alt"></i> Tracking</a>
            </nav>
        </div>
        <style>
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            .tool-board {
                background-color: #353c51;
                color: #b2aba3;
                border-right: solid 3px #3b3b3b;
                /* margin-right: -1px; */
                padding: 0px 0px;
                height: 100%;
            }

            .per-direct {
                color: inherit;
                cursor: pointer;
                padding: 10px 10px;
                border-bottom: solid 1px black;
                margin-bottom: 0px;
                font-size: 1.1em;
            }

            .per-direct:hover {
                color: white;
                background-color: #3b3b3b;
                border-bottom: solid 1px white;
            }
        </style>
        <div class="main-board col-md-9 mt-2">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="row">
                    <div class="col-md-9 px-0">
                        <h2 class="display-4 font-italic">Welcome back <span id="user-acc-name">Bùi Phi Long</span></h2>
                        <p class="lead my-3">Here is some information about you.</p>
                        <div class="show-infor">
                            <p>Contact: <span id="cont-acc">0969359810</span></p>
                            <p>Address: <span id="add-acc">126-Thôn 7-Gia Hiệp-Di Linh- Lâm Đồng</span></p>
                            <p>Email: <span id="mail-acc">long.builong.bui@hcmut.edu.vn</span></p>
                            <p>Date of birth: <span id="dob-acc">10/05/1999</span></p>
                        </div>
                        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Editing ...</a></p>
                    </div>
                    <div class="col-md-3" style="padding: 0px 0px;">
                        <img src="/views/pblic/img/unknown-avatar.jpg" alt=""
                            style="border:outset 4px lightgray;width: 100%;height: auto;;">
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">About you</strong>
                            <h3 class="mb-0">Payment management</h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                                lead-in to additional content.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                    fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Device</strong>
                            <h3 class="mb-0">Tracking information</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                additional content.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                    fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $.ajax({
        url: "/cli-home/get-some-infor",
        type: "POST",
    }).done(res => {
        if (res) {
            $('#user-acc-name').text(res.Fname + " " + res.Lname);
            $('#cont-acc').text(res.Contact);
            $('#add-acc').text(res.Address);
            $('#mail-acc').text(res.Email);
            $('#dob-acc').text(res.DOB);
        }
    })
</script>

</html>